# Node
node_modules

# Vercel
.vercel

# Next.js build
.next

# System files
.DS_Store

# Local environment variables
.env
.env.local

# Build artifacts
out/
public/sw.js.map

# Logs
*.log

# TypeScript
*.tsbuildinfo