# Node
node_modules

# Vercel
.vercel

# Next.js build
.next

# System files
.DS_Store

# Local environment variables
.env
.env.local

# Build artifacts
out/
public/sw.js.map

# Logs
*.log

# TypeScript
*.tsbuildinfo

# Next.js PWA artifacts
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map

# Next.js build caches
.next/build-manifest.json
.next/react-loadable-manifest.json
.next/cache/

# Package manager lockfiles
package-lock.json
yarn.lock